USE [ObligatorioManager]
GO
/****** Object:  Table [dbo].[Auditorias]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Accion] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Auditorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](max) NOT NULL,
	[Modelo] [nvarchar](max) NOT NULL,
	[Stock] [int] NOT NULL,
	[Discriminator] [nvarchar](13) NOT NULL,
	[Sensor] [int] NULL,
	[Resolucion] [nvarchar](max) NULL,
	[Tamano] [float] NULL,
	[TipoMontura] [int] NULL,
	[CargaMax] [float] NULL,
	[GoTo] [bit] NULL,
	[Diametro] [float] NULL,
	[Angulo] [float] NULL,
	[Apertura] [float] NULL,
	[RelacionFocal] [nvarchar](max) NULL,
	[DistanciaFocal] [float] NULL,
	[Peso] [float] NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetosCelestes]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetosCelestes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
	[Magnitud] [float] NOT NULL,
 CONSTRAINT [PK_ObjetosCelestes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Observaciones]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Observaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PrestamoId] [int] NOT NULL,
	[ObjetoCelesteId] [int] NOT NULL,
	[Evaluacion_Indicador] [int] NOT NULL,
	[Evaluacion_Detalle] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Observaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[UsuarioId] [int] NULL,
	[TelescopioId] [int] NULL,
	[MonturaId] [int] NULL,
	[CamaraId] [int] NULL,
	[OcularId] [int] NULL,
 CONSTRAINT [PK_Prestamos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/06/2026 15:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Email_Email] [nvarchar](max) NOT NULL,
	[User] [nvarchar](max) NOT NULL,
	[Password_Password] [nvarchar](max) NOT NULL,
	[Rol] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditorias] ON 

INSERT [dbo].[Auditorias] ([Id], [PrestamoId], [UsuarioId], [Accion], [Fecha]) VALUES (1, 1, 3, 0, CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Auditorias] ([Id], [PrestamoId], [UsuarioId], [Accion], [Fecha]) VALUES (2, 2, 4, 0, CAST(N'2026-04-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Auditorias] ([Id], [PrestamoId], [UsuarioId], [Accion], [Fecha]) VALUES (3, 3, 3, 0, CAST(N'2026-04-12T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Auditorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([Id], [Marca], [Modelo], [Stock], [Discriminator], [Sensor], [Resolucion], [Tamano], [TipoMontura], [CargaMax], [GoTo], [Diametro], [Angulo], [Apertura], [RelacionFocal], [DistanciaFocal], [Peso]) VALUES (1, N'SkyWatcher', N'Heritage 130P', 3, N'Telescopio', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 130, N'f/5', 650, 3.2)
INSERT [dbo].[Equipos] ([Id], [Marca], [Modelo], [Stock], [Discriminator], [Sensor], [Resolucion], [Tamano], [TipoMontura], [CargaMax], [GoTo], [Diametro], [Angulo], [Apertura], [RelacionFocal], [DistanciaFocal], [Peso]) VALUES (2, N'Celestron', N'NexStar 6SE', 2, N'Telescopio', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 150, N'f/10', 1500, 4.5)
INSERT [dbo].[Equipos] ([Id], [Marca], [Modelo], [Stock], [Discriminator], [Sensor], [Resolucion], [Tamano], [TipoMontura], [CargaMax], [GoTo], [Diametro], [Angulo], [Apertura], [RelacionFocal], [DistanciaFocal], [Peso]) VALUES (3, N'SkyWatcher', N'Evostar 72ED', 2, N'Telescopio', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 72, N'f/5.8', 420, 2)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjetosCelestes] ON 

INSERT [dbo].[ObjetosCelestes] ([Id], [Nombre], [Tipo], [Magnitud]) VALUES (1, 0, 3, 0)
INSERT [dbo].[ObjetosCelestes] ([Id], [Nombre], [Tipo], [Magnitud]) VALUES (2, 1, 0, 0)
INSERT [dbo].[ObjetosCelestes] ([Id], [Nombre], [Tipo], [Magnitud]) VALUES (3, 2, 2, 4)
SET IDENTITY_INSERT [dbo].[ObjetosCelestes] OFF
GO
SET IDENTITY_INSERT [dbo].[Observaciones] ON 

INSERT [dbo].[Observaciones] ([Id], [Fecha], [PrestamoId], [ObjetoCelesteId], [Evaluacion_Indicador], [Evaluacion_Detalle]) VALUES (1, CAST(N'2026-05-18T00:00:00.0000000' AS DateTime2), 6, 2, 0, N'Configuracion excelente para observacion planetaria.')
INSERT [dbo].[Observaciones] ([Id], [Fecha], [PrestamoId], [ObjetoCelesteId], [Evaluacion_Indicador], [Evaluacion_Detalle]) VALUES (2, CAST(N'2026-05-21T00:00:00.0000000' AS DateTime2), 7, 1, 1, N'Buena configuracion para observacion lunar.')
INSERT [dbo].[Observaciones] ([Id], [Fecha], [PrestamoId], [ObjetoCelesteId], [Evaluacion_Indicador], [Evaluacion_Detalle]) VALUES (3, CAST(N'2026-05-28T00:00:00.0000000' AS DateTime2), 8, 3, 0, N'Equipo apropiado para astrofotografia de nebulosas.')
SET IDENTITY_INSERT [dbo].[Observaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([Id], [FechaInicio], [FechaFin], [Estado], [UsuarioId], [TelescopioId], [MonturaId], [CamaraId], [OcularId]) VALUES (1, CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-10T00:00:00.0000000' AS DateTime2), 1, 5, 1, 12, NULL, 31)
INSERT [dbo].[Prestamos] ([Id], [FechaInicio], [FechaFin], [Estado], [UsuarioId], [TelescopioId], [MonturaId], [CamaraId], [OcularId]) VALUES (2, CAST(N'2026-04-05T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-15T00:00:00.0000000' AS DateTime2), 1, 6, 5, 13, 23, NULL)
INSERT [dbo].[Prestamos] ([Id], [FechaInicio], [FechaFin], [Estado], [UsuarioId], [TelescopioId], [MonturaId], [CamaraId], [OcularId]) VALUES (3, CAST(N'2026-04-12T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-20T00:00:00.0000000' AS DateTime2), 1, 7, 4, 19, NULL, 34)
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Email_Email], [User], [Password_Password], [Rol]) VALUES (1, N'Juan', N'Perez', N'Av. Italia 1234', N'099111111', N'juan@stellarminds.com', N'admin1', N'Admin123!', 0)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Email_Email], [User], [Password_Password], [Rol]) VALUES (2, N'Maria', N'Gomez', N'Rivera 2345', N'099111112', N'maria@stellarminds.com', N'admin2', N'Admin456!', 0)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Email_Email], [User], [Password_Password], [Rol]) VALUES (3, N'Carlos', N'Rodriguez', N'8 de Octubre 1111', N'099111113', N'carlos@stellarminds.com', N'coord1', N'Coord123!', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Auditorias] ADD  DEFAULT ((0)) FOR [PrestamoId]
GO
ALTER TABLE [dbo].[Auditorias] ADD  DEFAULT ((0)) FOR [UsuarioId]
GO
ALTER TABLE [dbo].[Auditorias]  WITH CHECK ADD  CONSTRAINT [FK_Auditorias_Prestamos_PrestamoId] FOREIGN KEY([PrestamoId])
REFERENCES [dbo].[Prestamos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Auditorias] CHECK CONSTRAINT [FK_Auditorias_Prestamos_PrestamoId]
GO
ALTER TABLE [dbo].[Auditorias]  WITH CHECK ADD  CONSTRAINT [FK_Auditorias_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Auditorias] CHECK CONSTRAINT [FK_Auditorias_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Observaciones]  WITH CHECK ADD  CONSTRAINT [FK_Observaciones_ObjetosCelestes_ObjetoCelesteId] FOREIGN KEY([ObjetoCelesteId])
REFERENCES [dbo].[ObjetosCelestes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Observaciones] CHECK CONSTRAINT [FK_Observaciones_ObjetosCelestes_ObjetoCelesteId]
GO
ALTER TABLE [dbo].[Observaciones]  WITH CHECK ADD  CONSTRAINT [FK_Observaciones_Prestamos_PrestamoId] FOREIGN KEY([PrestamoId])
REFERENCES [dbo].[Prestamos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Observaciones] CHECK CONSTRAINT [FK_Observaciones_Prestamos_PrestamoId]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Equipos_CamaraId] FOREIGN KEY([CamaraId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Equipos_CamaraId]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Equipos_MonturaId] FOREIGN KEY([MonturaId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Equipos_MonturaId]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Equipos_OcularId] FOREIGN KEY([OcularId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Equipos_OcularId]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Equipos_TelescopioId] FOREIGN KEY([TelescopioId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Equipos_TelescopioId]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuarios_UsuarioId]
GO
